<ion-header>
  <ion-toolbar>
    <ion-title>Pagina 5</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Soy la pagina 5</p>
    <ion-button routerLink="/home" routerDirection="back">Volver a la página 1</ion-button>
  </div>
  <div class="ion-padding">
    <ion-button routerLink="/pagina2" routerDirection="forward">Volver a la pagina 2</ion-button>
  </div>
  
  <div class="ion-padding">
    <ion-button routerLink="/pagina3" routerDirection="forward">Volver a la pagina 3</ion-button>
  </div>
  <div class="ion-padding">
    <ion-button routerLink="/pagina4" routerDirection="forward">Volver a la pagina 4</ion-button>
  </div>
</ion-content>