<ion-header>
  <ion-toolbar>
    <ion-title>Pagina2</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Soy la página 2</p>
    <ion-button routerLink="/home" routerDirection="back">Volver a la pagina 1</ion-button>
  </div>
  <div class="ion-padding">
    <ion-button routerLink="/pagina3" routerDirection="forward">Ir a la página  3</ion-button>
  </div>
  
  <div class="ion-padding">
    <ion-button routerLink="/pagina4" routerDirection="forward">Ir a la página  4</ion-button>
  </div>
  <div class="ion-padding">
    <ion-button routerLink="/pagina5" routerDirection="forward">Ir a la página  5</ion-button>
  </div>
</ion-content>